.About {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-wrapper {
  max-width: 36rem;
  margin-top: 18.5rem;
  margin-bottom: 7rem;
}

.About-tag {
  margin-left: -8rem;
  margin-bottom: 2rem;
  color: var(--highlight);
}

.About-text {
  color: var(--font-secondary);
}

.About-callout {
  margin-top: 7rem;
}

.About-callout-spacer {
  height: 3rem;
}

@media screen and (max-width: 1000px) {
  /* .About-wrapper {
    max-width: 28rem;
  } */

  .About-tag {
    margin-left: 0;
  }
  
}

@media screen and (max-width: 799px) {
  .About-wrapper {
    max-width: 20rem;
    margin-top: 13.5rem;
    margin-bottom: 5rem;
  }

  .About-tag {
    margin-bottom: 1.5rem;
  }

  .About-callout {
    margin-top: 5rem;
  }

  .About-callout-spacer {
    height: 2rem;
  }
}
