.About {
  min-height: calc(100vh - 4.4rem - 6rem - 2rem);
  width: 800px;
  margin: 0;
  padding: 0;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: inherit;
}

.About-text {
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  color: inherit;
}

.About-cards {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (max-width: 1199px) {
  .About {
    max-width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .About {
    max-width: 400px;
  }
}

@media screen and (max-width: 599px) {
  .About {
    max-width: 300px;
  }

  .About-cards {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}
