.About {
  height: 100%;
  width: 100%;
  color: #282c34;
}

.About-content {
  padding-top: 10rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-avatar {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.About-detail {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  max-width: 50%;
}

.About-detail p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
}

.About-detail-spacer {
  height: 1rem;
}

@media screen and (max-width: 999px) {
  .About-content {
    padding-top: 8rem;
  }

  .About-avatar {
    width: 180px;
    height: 180px;
  }

  .About-detail {
    max-width: 80%;
  }
}
