.About {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-wrapper {
  max-width: 36rem;
  margin-top: 14rem;
  margin-bottom: 7rem;
}

.About-tag {
  margin-left: -8rem;
  margin-bottom: 2rem;
  color: var(--highlight);
}

.About-text {
  color: var(--font-secondary);
}

.About-slides {
  margin-top: 6rem;
}

.About-slides-spacer {
  margin-bottom: 3rem;
}

.About-slide {
  max-height: 8rem;
  padding: 0 1rem;
  background-color: var(--background-secondary);
  color: var(--font-secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.About-slide img {
  width: 10rem;
  height: 10rem;
  border: 6px solid var(--font-primary);
  border-radius: 50%;
}

.About-slide-content {
  padding: 1rem;
}

.About-slide-content h4 {
  color: inherit;
  margin-bottom: 0.5rem;
}

.About-slide-content p {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 1000px) {
  .About-wrapper {
    max-width: 28rem;
  }

  .About-tag {
    margin-left: 0;
  }
}

@media screen and (max-width: 799px) {
  .About-wrapper {
    max-width: 20rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .About-tag {
    margin-bottom: 1.5rem;
  }

  .About-slides {
    margin-top: 4rem;
  }
  
  .About-slide {
    max-height: 6rem;
  }

  .About-slide img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .About-slide-content {
    padding: 0.5rem;
  }

  .About-slide-content h4 {
    margin-bottom: 0.1rem;
    font-size: 16px;
  }
  
  .About-slide-content p {
    font-size: 12px;
    line-height: 16px;
  }
}
