.About {
  margin: 0;
  padding: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #282c34;
}

.About-content {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-images {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.About-image {
  height: 64px;
  width: 64px;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
}

.About-image:hover {
  cursor: pointer;
}

.About-extra-hidden {
  display: none;
}

.About-extra-visible {
  max-width: calc(40% - 4rem);
  padding: 0;
  margin: 0;
  margin-top: 4rem;
  padding: 2rem;
  border: 2px solid #282c34;
  text-align: left;
  font-size: 1rem;
}

.About-text {
  max-width: 40%;
  padding: 0;
  margin: 0;
  margin-top: 4rem;
  font-size: 1rem;
  text-align: left;
}

.About-text p {
  padding: 0;
  margin: 0;
}

.laptop {
  background-image: url('../images/icon_laptop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: box;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 0s;
}

.guitar {
  background-image: url('../images/icon_guitar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: box;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 2s;
}

.shoe {
  background-image: url('../images/icon_shoe.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: box;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 4s;
}

.game {
  background-image: url('../images/icon_game.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: box;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 6s;
}

.beer {
  background-image: url('../images/icon_beer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: box;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 8s;
}

@keyframes box {
    0% {
      box-shadow: 0;
    }
    10% {
      box-shadow: 0px 0px 0px 2px #71C2FF;
    }
    15% {
      box-shadow: none;
    }
}

@media screen and (max-width: 999px) {
  .About-images {
    justify-content: center;
  }

  .About-image {
    height: 48px;
    width: 48px;
    margin-top: 1rem;
  }

  .About-text {
    max-width: 85%;
  }

  .About-extra-visible {
    max-width: calc(85% - 4rem);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {

  .About-text {
    max-width: 60%;
  }

  .About-extra-visible {
    max-width: calc(60% - 4rem);
  }
}
