.Contact {
  height: 100%;
  width: 100%;
  color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-entries {
  margin: 0;
  padding: 0;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.Contact-entry {
  text-align: left;
  font-size: 1.2rem;
}

.Contact-entry p {
  margin: 0;
  padding: 0;
}

.Contact-title {
  font-weight: bold;
}

.Contact-description {
  font-weight: normal;
}

.Contact-description a {
  text-decoration: none;
  color: inherit;
}

.Contact-description a:hover {
  color: #61dafb;
}

.Contact-entry-spacer {
  height: 2rem;
}

@media screen and (max-width: 999px) {
  .Contact-entries {
    padding-top: 8rem;
  }
}
