.Contact {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  color: #282c34;
  box-shadow: 0px 0px 6px 0px grey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Contact-content {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
}

.Contact-entries {
  margin: 0;
  padding: 2rem;
  background-color: #FFF;
  border: 2px solid #282c34;
}

.Contact-entry {
  text-align: left;
  font-size: 1rem;
}

.Contact-entry p {
  margin: 0;
  padding: 0;
}

.Contact-title {
  font-weight: bold;
}

.Contact-description {
  font-weight: normal;
}

.Contact-description a {
  text-decoration: none;
  color: #61dafb;
}

.Contact-entry-spacer {
  height: 2rem;
}

@media screen and (max-width: 999px) {
  .Contact-content {
    padding-top: 0rem;
  }
}
