.Contact {
  color: #282c34;
  margin: 0;
  padding: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Contact-content {
  margin: 0;
  padding: 0;
}

.Contact-entries {
  margin: 0;
  background-color: #FFF;
}

.Contact-entry {
  text-align: left;
  font-size: 1rem;
}

.Contact-entry p {
  margin: 0;
  padding: 0;
}

.Contact-title {
  font-weight: bold;
}

.Contact-description {
  font-weight: normal;
}

.Contact-description a {
  text-decoration: none;
  color: #71C2FF;
}

.Contact-entry-spacer {
  height: 2rem;
}
