.Contact {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 8rem;
    padding-bottom: 2rem;
    color: inherit;
    grid-area: content;
  }

.Contact-title {
    margin: 0;
    padding: 0;
    font-size: var(--main-font-size);
    font-weight: 700;
    color: inherit;
}

.Contact-text {
    margin: 0;
    padding: 0;
    font-size: var(--main-font-size);
    color: inherit;
}

.Contact-description {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    font-size: var(--main-font-size);
    color: inherit;
}

.Contact-link {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    text-decoration: none;
    font-size: var(--main-font-size);
    color: var(--active-font-color);
}

.Contact-link:hover {
    box-shadow: 0 2px 0 0 var(--active-font-color);
    transition: box-shadow 0.4s;
}

.Contact-spacer-vertical {
    height: 2rem;
}

@media screen and (max-width: 1199px) {
    .Contact {
      padding-top: 6rem;
    }
  }
