.Contact {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
    color: var(--font-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Contact-wrapper {
    width: 36rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.Contact-tag {
    margin-left: -10rem;
    margin-bottom: 2rem;
    color: var(--highlight);
}

.Contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: 4rem;
}

.Contact-avatar {
    width: 12rem;
    height: 12rem;
    border: 6px solid var(--font-primary);
}

.Contact-details {
    word-break: break-all;
}

.Contact-link {
    margin-top: 0.5rem;
    color: var(--highlight);
}

.Contact-link:hover {
    box-shadow: 0 2px 0 0 var(--highlight);
    transition: box-shadow 0.4s;
}

.Contact-spacer-vertical {
    height: 1rem;
}

@media screen and (max-width: 999px) {
    .Contact-wrapper {
        width: 28rem;
    }

    .Contact-tag {
        margin-left: 0;
    }
}

@media screen and (max-width: 799px) {
    .Contact-wrapper {
        width: 20rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .Contact-tag {
        margin-bottom: 1.5rem;
    }

    .Contact-content {
        row-gap: 2rem;
    }

    .Contact-avatar {
        width: 10rem;
        height: 10rem;
    }
}
