.Experience {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Experience-entries {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Experience-entry {
  max-width: 40%;
  text-align: left;
  font-size: 1rem;
}

.Experience-entry p {
  margin: 0;
  padding: 0;
}

.Experience-title {
  font-weight: bold;
}

.Experience-description {
  font-weight: normal;
}

.Experience-text-spacer {
  height: 1rem;
}

.Experience-entry-spacer {
  height: 2rem;
}

@media screen and (max-width: 999px) {
  .Experience-entry {
    max-width: 85%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {

  .Experience-entry {
    max-width: 60%;
  }
}
