.Experience {
  height: 100%;
  width: 100%;
  color: #282c34;
}

.Experience-entries {
  margin: 0;
  padding: 0;
  padding-top: 10rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Experience-entry {
  max-width: 50%;
  padding: 1rem;
  text-align: left;
  font-size: 1.2rem;
  border: 2px solid #282c34;

}

.Experience-entry p {
  margin: 0;
  padding: 0;
}

.Experience-title {
  font-weight: bold;
}

.Experience-description {
  font-weight: normal;
}

.Experience-text-spacer {
  height: 1rem;
}

.Experience-entry-spacer {
  height: 2rem;
}

@media screen and (max-width: 999px) {
  .Experience-entries {
    padding-top: 8rem;
  }

  .Experience-entry {
    max-width: 80%;
  }
}
