.Footer {
  position: relative;
  z-index: 100;
  background-color: #282c34;
  color: #EEE;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer-content {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}
