.Home {
  height: calc(100vh - 4rem);
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  color: inherit;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image content";
  column-gap: 8rem;
}

.Home-image {
  grid-area: image;
  align-self: center;
  justify-self: end;
  height: 500px;
  width: 500px;
}

.Home-content {
  max-width: 500px;
  grid-area: content;
  align-self: center;
  justify-self: start;
}

.Home-title {
  margin: 0;
  padding: 0;
  font-size: var(--home-title-font-size);
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-shadow: 4px 4px 6px var(--shadow-color);
}

.Home-description {
  margin-top: 2rem;
}

.Home-description > p {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-size: var(--home-description-font-size);
  font-weight: 400;
}

.Home-description > a:not(:last-child) {
  margin-right: 1rem;
}

.Home-icon:hover {
  color: var(--active-font-color);
  transition: color 0.4s;
}

@media screen and (max-width: 1199px) {
  .Home {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
    "content"
    "image";

    grid-column-gap: 0;
  }

  .Home-content {
    max-width: 375px;
    align-self: center;
    justify-self: center;
  }

  .Home-image {
    height: 325px;
    width: 325px;
    align-self: center;
    justify-self: center;
  }

  .Home-title {
    font-size: 2.4rem;
    font-weight: 800;
    text-shadow: none;
  }

  .Home-description {
    margin-top: 1.5rem;
  }

  .Home-description > p {
    font-size: var(--main-font-size);
  }
}

@media screen and (max-width: 799px) {
  .Home-content {
    max-width: 300px;
    align-self: center;
    justify-self: center;
  }

  .Home-image {
    height: 275px;
    width: 275px;
    align-self: center;
    justify-self: center;
  }

  .Home-title {
    font-size: 1.8rem;
    font-weight: 800;
    text-shadow: none;
  }

  .Home-description {
    margin-top: 1rem;
  }

  .Home-description > p {
    font-size: var(--min-font-size);
  }
}
