.Home {
  position: relative;
  z-index: 100;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #282c34;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home-content {
  margin: 0;
  padding: 0;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-header {
  font-size: 1.4rem;
}

.Home-header p {
  padding: 0;
  margin: 0;
}

.Home-details {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Home-detail {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 125px;
}

.Home-detail p {
  padding: 0;
  padding-top: 0.5rem;
  margin: 0;
  font-size: 1rem;
}

.Home-social {
  padding: 0;
  margin: 0;
  margin-top: 8rem;
  list-style: none;

  display: flex;
  align-items: center;
}

.Home-social li:not(:last-child) {
  margin-right: 2rem;
}

.Home-link:hover {
  color:#71C2FF;
}

@media screen and (max-width: 999px) {
  .Home-header {
    max-width: 75%;
    font-size: 1.2rem;
  }

  .Home-details {
    max-width: 70%;
  }

  .Home-detail {
    flex-grow: 1;
    flex-basis: 30%;
  }

  .Home-detail p {
    font-size: 0.8rem;
  }

  .Home-detail img {
    height: 48px;
    width: 48px;
  }

  .Home-social {
    margin-top: 6rem;
    font-size: 0.8rem;
  }
}
