.Home {
  min-height: calc(100vh - 4.4rem);
  width: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home-image {
  position: absolute;
  width: 100%;
  height: calc(100% - 4.4rem);
  background-color: var(--main-bg-color);
  background-image: url('../images/cpu.png');
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 70% 40%;
  background-blend-mode: multiply;
}

.Home-content {
  z-index: 1;
  width: 600px;
}

.Home-fill {
  height: 0.2rem;
  width: 25%;
  margin-bottom: 0.5rem;
  background-color: var(--main-font-color);
}

.Home-text {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-size: var(--home-text-font-size);
  color: inherit;
}

.Home-social a {
  color: inherit;
}

.Home-social a:first-child {
  margin-right: 1rem;
}

.Home-icon {
  cursor: pointer;
  transition: color 0.4s ease;  
}

.Home-icon:hover {
  color: var(--active-font-color);
}

@media screen and (max-width: 1199px) {
  /* .Home-image {
    height: 325px;
    width: 325px;
  } */
}

@media screen and (max-width: 799px) {
  /* .Home-image {
    height: 275px;
    width: 275px;
  } */
}
