.Nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  background-color: #FFF;
  color: #282c34;
  box-shadow: 0px 2px 6px grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Nav-content {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Nav-logo {
  font-size: 1.8rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.Nav-items {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Nav-items li:not(:last-child) {
  padding-right: 1.2rem;
}

.Nav-item {
  font-size: 1.2rem;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.Nav-item:hover {
  color: #61dafb;
}

.Nav-burger {
  padding-left: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .Nav-logo {
    font-size: 1.4rem;
  }

  .Nav-items {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .Nav-burger {
    display: none;
  }
}
