.Nav {
  z-index: 200;
  height: 3.4rem;
  width: 800px;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  color: inherit;
  background-color: transparent;
}

.Nav-items {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.Nav-title {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 400;
  /* letter-spacing: 2px; */
  color: inherit;
}

.Nav-icon {
  padding: 0;
  margin: 0;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  font-size: 1.6rem;
  color: inherit;
  cursor: pointer;
}


@media screen and (max-width: 1199px) {
  .Nav {
    width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .Nav {
    width: 90%;
  }
}

@media screen and (max-width: 599px) {
  .Nav-title {
    font-size: 1.4rem;
  }
}