.Nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  background-color: #282c34;
  color: #EEE;
  box-shadow: 0px 1px 4px 0px grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Nav-content {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Nav-logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Nav-items {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Nav-items li:not(:last-child) {
  padding-right: 1.2rem;
}

.Nav-item {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Nav-item:hover {
  color: #71C2FF;
}

.activated {
  border-bottom: 2px solid #71C2FF;
}

.Nav-burger {
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .Nav-logo {
    font-size: 1.3rem;
  }

  .Nav-items {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .Nav-burger {
    display: none;
  }
}
