.Projects {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects-wrapper {
  width: 36rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.Projects-tag {
  margin-left: -10rem;
  margin-bottom: 5rem;
  color: var(--highlight);
}

.Projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  align-items: start;
  row-gap: 8rem;
  column-gap: 4rem;
}

@media screen and (max-width: 1000px) {
  /* .Projects-wrapper {
    width: 28rem;
  } */

  .Projects-tag {
    margin-left: 0;
  }
}

@media screen and (max-width: 799px) {
  .Projects-wrapper {
    width: 20rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .Projects-tag {
    margin-bottom: 4rem;
  }

  .Projects-cards {
    row-gap: 6rem;
  }
}
