.Projects {
  min-height: calc(100vh - 10rem);
  min-width: 800px;
  margin: 0;
  padding: 0;
  padding-top: 8rem;
  padding-bottom: 2rem;
  color: inherit;
}

.Projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (max-width: 1199px) {
  .Projects {
    min-width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .Projects {
    min-width: 400px;
  }
}

@media screen and (max-width: 599px) {
  .Projects {
    min-width: 300px;
  }

  .Projects-cards {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
}
