.Projects {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 8rem;
  padding-bottom: 2rem;
  color: inherit;
  grid-area: content;
}

.Projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (max-width: 999px) {
  .Projects {
    padding-top: 6rem;
  }

  .Projects-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 2rem;
    column-gap: 0;
  }
}
