.Reset {
    z-index: 200;
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    cursor: pointer;

    transform: translateX(8rem);
    transition: transform 0.4s ease;
}

.show-reset {
    transform: translateX(0);
}

.Reset-icon {
    padding: 2px;
    color: var(--font-secondary);
    font-size: 3rem;
    transition: color 0.4s ease;
}

.Reset:hover svg {
    color: var(--highlight);
}

@media screen and (max-width: 799px) {
    .Reset {
        bottom: 1rem;
        right: 1rem;
    }

    .Reset-icon {
        font-size: 2.5rem;
    }
}
