.Resume {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 8rem;
  padding-bottom: 2rem;
  color: inherit;
  grid-area: content;
}

.Resume-title {
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  font-weight: 700;
  color: inherit;
}

.Resume-description {
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  font-size: var(--main-font-size);
  color: inherit;
}

.Resume-spacer-vertical {
  height: 2rem;
}
  
@media screen and (max-width: 1199px) {
  .Resume {
    padding-top: 6rem;
  }
}
