.Resume {
  min-height: calc(100vh - 10rem);
  width: 800px;
  margin: 0;
  padding: 0;
  padding-top: 8rem;
  padding-bottom: 2rem;
  color: inherit;
  grid-area: content;
}

.Resume-title {
  margin: 0;
  padding: 0;
  font-size: var(--main-font-size);
  font-weight: 700;
  color: inherit;
}

.Resume-hr {
  height: 2px;
  background-color: var(--active-font-color);
}

.Resume-description {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-size: var(--main-font-size);
  color: inherit;
}

.Resume-spacer-vertical {
  height: 3rem;
}
  
@media screen and (max-width: 1199px) {
  .Resume {
    max-width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .Resume {
    max-width: 400px;
  }
}

@media screen and (max-width: 599px) {
  .Resume {
    max-width: 300px;
  }
}
