.Resume {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Resume-wrapper {
  max-width: 36rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.Resume-tag {
  margin-left: -10rem;
  margin-bottom: 2rem;
  color: var(--highlight);
}

.Resume-hr {
  height: 2px;
  margin-bottom: 1rem;
  background-color: var(--highlight);
}

.Resume-spacer-vertical {
  height: 3rem;
}
  
@media screen and (max-width: 1000px) {
  /* .Resume-wrapper {
    max-width: 28rem;
  } */

  .Resume-tag {
    margin-left: 0;
  }
}

@media screen and (max-width: 799px) {
  .Resume-wrapper {
    max-width: 20rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .Resume-tag {
    margin-bottom: 1.5rem;
  }
}
