.SideDrawer {
  margin: 0;
  padding: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 100%;
  width:  40%;
  position: fixed;
  z-index: 300;
  background-color: #FFF;
  color: #282c34;

  display: flex;
  flex-direction: column;

  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.SideDrawer-open {
  transform: translateX(0);
  box-shadow: 4px 0px 6px grey;
}

.SideDrawer-close {
  margin: 0;
  margin-top: 1rem;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  box-shadow: 0;
}

.SideDrawer-items {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  list-style: none;
  text-align: left;

  display: flex;
  flex-direction: column;
}

.SideDrawer-item {
  font-size: 1.2rem;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.SideDrawer-item:hover,
.SideDrawer-item:active {
  color: #61dafb;
}

.SideDrawer-item-spacer {
  margin: 0.2rem;
  padding: 0;
  height: 1.2rem;
  border-top: 2px solid #282c34;
}
