.Theme {
    color: var(--nav-active-font-color);
}

.Theme-options {
    font-size: var(--nav-font-size);
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Theme-option {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.Theme-option-select {
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    background-color: var(--nav-active-font-color);
}

.active-option .Theme-option-select {
    background-color: var(--active-font-color);
    border: 4px solid var(--nav-active-font-color);
}
