.Wheel {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    margin-top: 2px;
    margin-left: 2px;
    height: 48px;
    width: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "green red"
        "blue orange";
    column-gap: 4px;
    row-gap: 4px;
}

.Wheel > img {
    width: 24px;
    height: 24px; 
    cursor: pointer;
}

.Wheel-upper-left {
    grid-area: green;
}

.Wheel-upper-right {
    grid-area: red;
}

.Wheel-lower-right {
    grid-area: orange;
}

.Wheel-lower-left {
    grid-area: blue;
}
