/* CSS Vars */
:root {
  --font-primary: #ffffff;
  --font-secondary: #272f30;
  --background-primary: #5F6667;
  --background-secondary: #ededed;
  --background-dark: #383F40;
  --highlight: #DCBA6C;
  --shadow: rgb(50, 50, 50, 0.5);
}
/* END CSS Vars */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 2px;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 700;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

a {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

@media screen and (max-width: 799px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 20px;
  }
  
  a {
    font-size: 16px;
    line-height: 20px;
  }
}
