/* CSS Vars */
:root {
  --main-font-color: rgb(40,40,40);
  --nav-active-font-color: rgb(240, 240, 240);
  --active-font-color: rgb(63, 137, 205);
  --nav-font-size: 1rem;
  --home-title-font-size: 3.4rem;
  --home-description-font-size: 1.2rem;
  --main-font-size: 1rem;
  --min-font-size: 0.9rem;
  --main-letter-space: 0.2rem;
  --main-bg-color: rgb(235, 235, 235);
  --nav-hover-color: rgb(210, 210, 210);
  --shadow-color: rgb(190, 190, 190);
  --card-background-color: #FFF;
}
/* END CSS Vars */

html {
  width: 100%;
}

body {
  overflow-y: scroll;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
